@import '../../app/variable.scss';
header{
    height: 65px;

    .logo{
        color: $default-dark-color;
    }
    .default-blue{
        color: $default-blue-color;
    }
    .header-icon{
        a{
            border-color: $default-blue-color;
            border-radius: 4px;
            border: 1.5px solid;
            padding: 5px 8px;

            
        }
        :hover{
                background-color: $default-blue-color;
                color: $header-icon-color-white;
            }
        .bi-person::before, .bi-bell::before{
            font-size: 16px;
        }
      
    }


}