// Color Variables
$default-blue-color: #1f95d4;
$default-dark-color: #404040;



// Text colors variables

$header-icon-color-white: #FFFFFF;
$nav-link-color: #FFFFFF;
$user-meta-text-color: #617D8A;


// Text variables
$bold-font-weight: bold;


// borders
$common-border-color: #cccccc;
$light-border-color9: #999999;

