// Color Variables
$default-blue-color: #1f95d4;
$default-dark-color: #404040;



// Text colors variables

$header-icon-color-white: #FFFFFF;
$nav-link-color: #FFFFFF;


// Text variables
$bold-font-weight: bold;

